body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.signupContainer,
.loginContainer,
.welcomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 30px 0px;
}

.hide{
    display: none;
}

.active{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 30px 0px;
}

input{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

button{
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}